In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
import cv2
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import preprocessing
import torch

In [2]:
train_data = pd.read_csv(r"C:\Users\User\OneDrive\Desktop\Job Platform\Skill-Job Matcher.csv",encoding='latin-1')

In [3]:
train_data.head()

            Skill 1          Job Role       Skill 2       Skill 3
0              Java  Legal Department  Google Drive     MS OFFICE
1        Word Press      Data Analyst    Word Press  Data Science
2       Data Mining           Payroll            HR          Java
3  Machine Learning  Asset Management     MS OFFICE         C/C++
4         MS OFFICE        Accounting          Java         Excel

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Skill 1   500 non-null    object
 1   Job Role  500 non-null    object
 2   Skill 2   500 non-null    object
 3   Skill 3   500 non-null    object
dtypes: object(4)
memory usage: 15.8+ KB

In [5]:
y = train_data['Job Role']

In [6]:
defaultInt = 0
defaultString = 'NaN'
defaultFloat = 0.0
stringFeatures = ['Skill 1','Job Role','Skill 2','Skill 3']

# Clean the NaN's
for feature in train_data:
    if feature in stringFeatures:
        train_data[feature] = train_data[feature].fillna(defaultString)
    else:
        print('Error: Feature %s not recognized.' % feature)
train_data.head(5)

            Skill 1          Job Role       Skill 2       Skill 3
0              Java  Legal Department  Google Drive     MS OFFICE
1        Word Press      Data Analyst    Word Press  Data Science
2       Data Mining           Payroll            HR          Java
3  Machine Learning  Asset Management     MS OFFICE         C/C++
4         MS OFFICE        Accounting          Java         Excel

In [7]:
#Encoding data
labelDict = {}
for feature in train_data:
    le = preprocessing.LabelEncoder()
    le.fit(train_data[feature])
    le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    train_data[feature] = le.transform(train_data[feature])
    # Get labels
    labelKey = 'label_' + feature
    labelValue = [*le_name_mapping]
    labelDict[labelKey] =labelValue
    
for key, value in labelDict.items():     
    print(key, value)

train_data.head()

label_Skill 1 ['C/C++', 'Data Mining', 'Data Science', 'Excel', 'Google Drive', 'HR', 'Java', 'MS OFFICE', 'Machine Learning', 'Marketing', 'SEO', 'Word Press']
label_Job Role ['Accounting', 'Advertising', 'Asset Management', 'Customer Relations', 'Customer Service', 'Data Analyst', 'Finances', 'Human Resources', 'Legal Department', 'ML Engineer', 'Media Relations', 'Payroll', 'Public Relations', 'Quality Assurance', 'Research and Development', 'Sales and Marketing', 'Tech Support', 'Web Developer']
label_Skill 2 ['C/C++', 'Data Mining', 'Data Science', 'Excel', 'Google Drive', 'HR', 'Java', 'MS OFFICE', 'Machine Learning', 'Marketing', 'SEO', 'Word Press']
label_Skill 3 ['C/C++', 'Data Mining', 'Data Science', 'Excel', 'Google Drive', 'HR', 'Java', 'MS OFFICE', 'Machine Learning', 'Marketing', 'SEO', 'Word Press']

   Skill 1  Job Role  Skill 2  Skill 3
0        6         8        4        7
1       11         5       11        2
2        1        11        5        6
3        8         2        7        0
4        7         0        6        3

In [8]:
train_data.drop(['Job Role'],axis=1,inplace=True)
train_data.head()

   Skill 1  Skill 2  Skill 3
0        6        4        7
1       11       11        2
2        1        5        6
3        8        7        0
4        7        6        3

In [9]:
y

0        Legal Department
1            Data Analyst
2                 Payroll
3        Asset Management
4              Accounting
              ...
495    Customer Relations
496           Advertising
497       Media Relations
498            Accounting
499      Customer Service
Name: Job Role, Length: 500, dtype: object

In [10]:
from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier(n_estimators=100)

model.fit(train_data,y)

RandomForestClassifier()

In [12]:
import joblib

joblib.dump(model, 'model.joblib')

['model.joblib']